<!-- movies.html -->

{% extends "layout.html" %}
{% block content %}
<form action="/test/sparql" method="get">
  <label for="entity_uri">Search for</label>
  <input type="text" id="entity_uri" name="entity_uri" value=""> <input type="submit" value="Submit">
</form><br>
<div style="background-color: white">
{% if entity_uri %}
Results found with entity_uri: <b>{{entity_uri}} </b>
  <table id="describe_table" class="table table-hover table-dark" style ="background-color: white">
  <thead>
  <tr>
  {% for var in results["head"]["vars"] %}
  <th>{{var}}</th>
  {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for result in results["results"]["bindings"] %}
  <tr>
    {% for var in results["head"]["vars"] %}
  <td>{{result[var]["value"] if var in result else ""}}</td>
  {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
Please submit an entity URI
{% endif %}
<script type="text/javascript">
        $(document).ready(function () {
            $.noConflict();
            var table = $('#describe_table').DataTable();
        });
</script>
</div>
{% endblock %}
{% block script %}style="position: inherit;"{% endblock %}
