{% extends "layout.html" %}
{% block content %}
    <form method="GET" style="position: ">
                  <div style="text-align: center; color: white;">
    <!--ul>
    <li>ontological concepts: 'plant height' or 'regulation of gene expression'</li>
    <li>Gene: keyword 'stachyose' or name 'TCP2'.</li>
    <li>Pathway:  keywords 'fermentation' or 'acetate' or 'cytokinins'</li>
    <li>protein:  name 'TBP1', keyword 'qtl'</li>
    <li>QTL: name 'BNL6.32' or keyword 'trait'</li>
    </ul-->
Some examples:<br>
ontological concepts: 'plant height' or 'regulation of gene expression'.<br>
    Gene: keywords 'stachyose', 'protein_coding', 'qtl', 'Constitutive flowering repressor', 'fungal growth'; or name 'TCP2'.<br>
    Pathway:  keywords 'fermentation' or 'acetate' or 'cytokinins'.<br>
    protein:  name 'TBP1', keyword 'qtl'.<br>
    QTL: name 'BNL6.32' or keyword 'trait'.<br>
</div>
<style>
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*popup css*/
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
</style>
<!--<center>
    <div class="container">
        <form id="sform">
                <option value="" default>--- Select a type* ---</option>
                <option value="gene">Gene</option>
                <option value="protein">Protein</option>
                <option value="qtl">QTL</option>
                <option value="pathway">Pathway</option>
                <option value="ontology">Ontology</option>
            </select>
            <input id="input" class="keyword" name="keyword" type="text" autofocus placeholder="Type here ..." style="display: inline"/>
            <input id="submit" class="yasrbtn" type="submit" value="Search" style="display: inline"/>
        </form>
    </div>
</center>-->
<!-- TEST -->


<div class="Q-Search A-Search">
    <div class="container delim">
        <div class="row">
            <div class="col-lg-12">
                <span style="color:#ff0000" id="message"></span>
                <div class="input-group">
                    <div class="input-group-btn">
                        <select name="type" id="type" placeholder="Filter by" id="afft" value="" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option value="genes">Gene</option>
                            <option value="proteins">Protein</option>
                            <option value="qtls">QTL</option>
                            <option value="pathways">Pathway</option>
                            <option value="ontologies">Ontology</option>
                        </select>
                    </div>
                    <input id="keyword" class="keyword" name="keyword" type="text" autofocus="" placeholder="Search term..." style="height: 34px">

                    </style>
                    <span class="input-group-btn">
                         <button class="btn btn-primary" id="jcb" value="Search" type="submit" onclick='myfunction();'>Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


    <div style="background-color: white">


    <table id="depart_manager" class="table table-hover table-dark" style ="background-color: white" style="visibility: hidden">
        <thead>
            <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>URI</th>
                        <th></th>
                        <th></th>
            </tr>
        </thead>

        <tbody>
            {% if type == 'ontologies' %}
                {% if keyword %}
                    {% for gene in genes %}
                        <tr class="gene">
                            <td>{{ gene["Id"] }}
                                <a href="http://127.0.0.1:5000/test/infor_uri_ontology?entity_uri={{ gene['Id'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold">Display all</a>
                            </td>
                            <td>{{ gene["Name"] }}</td>
                            <td>{{ gene["Description"] }}</td>
                            <td>{{ gene["URI"] }}</td>
                            <td><a href="http://agrold.southgreen.fr/agrold/agrold_explorer.jsp?iri={{ gene['URI'] }}" target="_blank" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Visualize </a></td>
                            <td><a href="http://127.0.0.1:5000/test/sparql?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Sparql </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}

            {% elif type == 'genes'%}
                {% if keyword %}
                    {% for gene in genes %}
                        <tr class="gene">
                            <td>{{ gene["Id"] }}

                                <a href="http://127.0.0.1:5000/test/infor_uri_gene?entity_uri={{ gene['URI'] }}&entity_id={{ gene['Id'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold">Display all</a>
                                </td>
                            <td><a class="uri" target="_blank" href="{{ gene['URI'] }}">{{ gene["URI"] }}</a></td>
                            <td><a class="uri" target="_blank" href="{{ gene['graph'] }}">{{ gene["graph"] }}</a></td>
                            <td>{{ gene["keyword_reference"] }}</td>
                            <td><a href="http://agrold.southgreen.fr/agrold/agrold_explorer.jsp?iri={{ gene['URI'] }}" target="_blank" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Visualize </a></td>
                            <td><a href="http://127.0.0.1:5000/test/sparql?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Sparql </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}

            {% elif type == 'proteins'%}
                {% if keyword %}
                    {% for gene in genes %}
                        <tr class="gene">
                            <td>{{ gene["Id"] }}

                                <a href="http://127.0.0.1:5000/test/infor_uri_protein?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold">Display all</a>
                                </td>
                            <td><a class="uri" target="_blank" href="{{ gene['URI'] }}">{{ gene["URI"] }}</a></td>
                            <td><a class="uri" target="_blank" href="{{ gene['graph'] }}">{{ gene["graph"] }}</a></td>
                            <td>{{ gene["keyword_reference"] }}</td>
                            <td><a href="http://agrold.southgreen.fr/agrold/agrold_explorer.jsp?iri={{ gene['URI'] }}" target="_blank" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Visualize </a></td>
                            <td><a href="http://127.0.0.1:5000/test/sparql?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Sparql </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}

            {% elif type == 'qtls'%}
                {% if keyword %}
                    {% for gene in genes %}
                        <tr class="gene">
                            <td>{{ gene["Id"] }}

                                <a href="http://127.0.0.1:5000/test/infor_uri_qtl?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold">Display all</a>
                                </td>
                            <td><a class="uri" target="_blank" href="{{ gene['URI'] }}">{{ gene["URI"] }}</a></td>
                            <td><a class="uri" target="_blank" href="{{ gene['graph'] }}">{{ gene["graph"] }}</a></td>
                            <td>{{ gene["keyword_reference"] }}</td>
                            <td><a href="http://agrold.southgreen.fr/agrold/agrold_explorer.jsp?iri={{ gene['URI'] }}" target="_blank" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Visualize </a></td>
                            <td><a href="http://127.0.0.1:5000/test/sparql?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Sparql </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}

            {% elif type == 'pathways'%}
                {% if keyword %}
                    {% for gene in genes %}
                        <tr class="gene">
                            <td>{{ gene["Id"] }}

                                <a href="http://127.0.0.1:5000/test/infor_uri_pathway?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold">Display all</a>
                                </td>
                            <td><a class="uri" target="_blank" href="{{ gene['URI'] }}">{{ gene["URI"] }}</a></td>
                            <td><a class="uri" target="_blank" href="{{ gene['graph'] }}">{{ gene["graph"] }}</a></td>
                            <td>{{ gene["keyword_reference"] }}</td>
                            <td><a href="http://agrold.southgreen.fr/agrold/agrold_explorer.jsp?iri={{ gene['URI'] }}" target="_blank" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Visualize </a></td>
                            <td><a href="http://127.0.0.1:5000/test/sparql?entity_uri={{ gene['URI'] }}" target="entity_uri" style="text-decoration: none; color:#00B5AD; font-weight:bold"> Sparql </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                        <th>ID</th>
                        <th>URI</th>
                        <th>graph</th>
                        <th>keyword_reference</th>
            </tr>
        </tfoot>
    </table>
</div>


    <script type="text/javascript">
        $(document).ready(function () {
            $.noConflict();
            var table = $('#depart_manager').DataTable();
        });
    </script>
    <script type="text/javascript">
        function myfunction(){
  document.getElementById("displaytable").style.display = "none";
}
    </script>
    <script language="javascript">

            document.getElementById("jcb").onclick = function () {
                document.getElementById("depart_manager").style.display = 'block';
            };

        </script>
{% endblock %}
{% block script %}style="position: inherit;"{% endblock %}
